*, *::before, *::after {
    box-sizing: border-box;
}

html {
    height: 1250px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: row;
}

h1 {
    background-color: rgb(10, 10, 92, 0.7);
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0;
}

label {
    font-size: 1.2rem;
}

.search-list {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 30%;
    border-radius: 5px;
    background-color: rgb(211, 211, 211, 0.7);
    padding: 20px;
    margin-top: 5px;
}

#search-row {
    width: 80%;
}

#search-input {
    position: relative;
    float: left;
    width: 80%;
    border-radius: 5px;
    height: 30px;
}

#search-button {
    position: relative;
    margin-left: -6px;
    float: left;
    width: 20%;
    border-radius: 5px;
    height: 30px;
    background-color: rgb(62, 62, 233);
    color: white;
}

#city-list {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    margin: auto;
    border-radius: 5px;
}

.cities {
    background-color: white;
    height: 10%;
    border-radius: 5px;
    border: solid .5px;
    font-size: 1.2rem;
    font-weight: bold;
}




#weather-container {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    width: 70%;
}

#current-weather {
    height: 300px;
    padding: 30px 30px 0 30px;
    margin: 20px 20px 0 20px;
}

#current-city {
    display: flex;
    flex-direction: row;

}

#current-list {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}

.weather-icon {
    height: 4rem;
}

#uv {
    border-radius: 5px;
    width: 112px;
    padding-left: 4px;
    box-shadow: 0 0 3px 1px;
}

#future-forecast {
    height: 200px;
    padding: 0 30px 0 30px;
    margin-bottom: 20px;
}

#future-weather {
    display: flex;
    justify-content: space-evenly;
}

.forecast-container {
    width: 120px;
    padding: 5px;
    background-color: rgb(62, 62, 233, 0.8);
    color: rgb(233, 231, 231);
    border-radius: 5px;
    line-height: 1.2rem;
    box-shadow: black 0 0 5px 1px;
}

@media only screen and (max-width: 1000px) {

    .search-list {
        padding: 20px 2px 0 2px;
    }

    #search-row {
        width: 100%;
    }

    #search-button {
        font-size: .6rem;
    }

    #future-weather {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .forecast-container {
        margin-bottom: 20px;
    }

  }


@media only screen and (max-width: 450px) {

    label {
        font-size: .75rem;
    }

    #search-row {
        margin: auto;
        width: 95%;
    }

    #search-input {
        height: 20px;
    }
    
    #search-button {
        height: 20px;
        text-align: left;
        font-size: .5rem;
    }

    #city-list {
        margin: auto;
        width: 100%;
    }

    .cities {
        font-size: .8rem;
    }

    #current-weather {
        padding-top: 5px;
    }

    #current-city {
        margin-left: -15px;
        font-size: 14px;
    }
    #current-list {
        font-size: 12px;
    }
  }